<main class='py-4 d-flex justify-content-center'>
  <div class='container'>
    <div class='row row-cols-1 row-cols-md-3 g-2'>
      {{#each events}}
        <div class='col'>
          <div class='card' style='width: 18rem;'>
            <img
              src='{{this.image_link}}'
              class='card-img-top'
              alt='{{this.title}}'
              style=' height: 200px;  object-fit: cover;  width: 100%;'
            />
            <div class='card-body'>
              <h5 class='card-title'>{{this.title}}</h5>
              <p class='card-text'>{{this.summary}}</p>
              <a
                href='http://localhost:3000/api-manager/meet/detail/{{this.id}}'
                class='btn btn-primary'
              >Saiba mais</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>