<main class='py-4 justify-content-center gap-2 d-flex flex-wrap'>

  <div class='card mb-3 w-75'>
    <div class='card-body d-flex justify-content-center flex-column'>
      {{#if image_link}}
        <img
          src='{{image_link}}'
          class='card-img-top w-50 align-self-center m-3'
          alt='{{title}}'
        />
      {{/if}}
      <h4 class='card-title'>{{title}}</h4>
      <h6 class='card-subtitle mb-3 text-muted'>Data do evento:
        {{datetime datetime 'DD/MM/YYYY HH:mm'}}</h6>
      <p class='card-text'>{{summary}}</p>

      {{#if link}}
        <a href='{{link}}' class='btn btn-primary'>Saiba mais</a>
      {{/if}}

      <p class='card-text'>
        <strong>Endereço:</strong>
        {{address.street}},
        {{address.number}}{{#if address.complement}},
          {{address.complement}}{{/if}},
        {{address.district}},
        {{address.city}}
        -
        {{address.state}}, CEP:
        {{address.zip}}
      </p>

      <p class='card-text'>
        <strong>Horário:</strong>
        {{datetime start_time 'HH:mm'}}
        -
        {{datetime end_time 'HH:mm'}}
      </p>

      <p class='card-text'><strong>Status:</strong>
        {{#ifCond meet_status '===' 'pending'}}Pendente{{/ifCond}}
        {{#ifCond meet_status '===' 'finished'}}Concluído{{/ifCond}}
        {{#ifCond meet_status '===' 'canceled'}}Cancelado{{/ifCond}}
      </p>
    </div>
    <div><button type='button' class='btn btn-primary w-25 m-3'><a
          href='http://localhost:3000/meet/'
          class='text-light link-offset-2 link-underline link-underline-opacity-0'
        >Cadastrar palestra
        </a></button>

      <a
        href='http://localhost:3000/meet/'
        class='text link-offset-2 link-underline link-underline-opacity-0 btn btn-primary w-25 m-3'
      >Voltar</a></div>

  </div>

</main>